html{
    background-color: $black;

    @include responsive("big_desktop"){
        background-color: $white;
    };

    @include responsive("desktop"){
        background-color: $black;
    };

    @include responsive("mobile_land"){
        background-color: red;
    };
}